{
  "_comment": "DISABLED - API Shield Schema Validation was blocking legitimate requests",
  "_issues": [
    "Schema mismatch - OpenAPI schema too strict vs actual requests",
    "Missing optional fields - Schema required fields app doesn't always send",
    "Wrong data types - Schema expected different formats than actual",
    "Extra fields - Requests had fields not defined in schema",
    "Nested object structure - Fingerprint object structure didn't match exactly"
  ],
  "_fix_needed": [
    "Capture actual request - Log real request from working browser call",
    "Update OpenAPI schema - Match exact structure of working requests",
    "Make fields optional - Use required: [] only for truly mandatory fields",
    "Allow additional properties - Add additionalProperties: true",
    "Test incrementally - Enable, test one module, fix schema, repeat"
  ],
  "_recommendation": "Keep API Shield disabled - WAF + rate limiting is sufficient security",
  "openapi": "3.0.0",
  "info": {
    "title": "Inexasli AI API",
    "version": "1.0.0",
    "description": "API for Inexasli AI modules - DISABLED DUE TO BLOCKING LEGITIMATE REQUESTS"
  },
  "servers": [
    {
      "url": "https://inexasli.com",
      "description": "Production server"
    }
  ],
  "paths": {
    "/api/generate": {
      "post": {
        "summary": "Generate AI content",
        "description": "Receives a module name, form data, and fingerprint for rate limiting, then returns a generated response.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "module": {
                    "type": "string",
                    "description": "The name of the AI module to use (e.g., 'calorie', 'decision', 'income')."
                  },
                  "formData": {
                    "type": "object",
                    "description": "The form data containing the user inputs for the specific module."
                  },
                  "fingerprint": {
                    "type": "object",
                    "properties": {
                      "deviceId": {
                        "type": "string",
                        "description": "Unique device identifier"
                      },
                      "sessionId": {
                        "type": "string", 
                        "description": "Session identifier"
                      },
                      "sessionCreated": {
                        "type": "number",
                        "description": "Session creation timestamp"
                      },
                      "requestCounts": {
                        "type": "object",
                        "description": "Request count tracking by module"
                      },
                      "lastRequestTimes": {
                        "type": "array",
                        "items": {
                          "type": "number"
                        },
                        "description": "Array of recent request timestamps"
                      },
                      "rateLimitStatus": {
                        "type": "object",
                        "description": "Rate limit status tracking"
                      }
                    },
                    "required": ["deviceId", "sessionId"],
                    "description": "Rate limiting fingerprint data for user identification."
                  }
                },
                "required": ["module", "formData", "fingerprint"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad Request - Invalid input"
          }
        }
      }
    }
  }
}
